{% extends 'AppBundle::layout.html.twig' %}

{% block main -%}

<ol class="breadcrumb">
    <li><a href="{{ path('homepage') }}">Home</a></li>
    <li><a href="{{ path('project') }}">Projects</a></li>
    <li class="active">Create new</li>
</ol>

<h1><span class="fa fa-plus"></span> Create new Project</h1>

{{ form(form) }}

{% endblock %}
