{% extends 'AppBundle::layout.html.twig' %}

{% block main %}

    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Home</a></li>
        <li class="active">All Tasks</li>
    </ol>

    {{ include('AppBundle:Task:list.html.twig', {tasks: tasks, project: null}) }}

{% endblock %}
